{% extends 'base.html' %}

{% block content %}

<div class="flex h-screen">

{% include 'sidebar.html' %}

<div class="flex-1 bg-gray-100 p-6 overflow-auto">
    
 {% include 'navbar.html' %}

    <main class=" mx-auto px-4 py-7">
        <h2 class="text-xl font-bold text-gray-900 mb-4">Products</h2>

        {% if messages %}
{% for message in messages %}
<div class="{% if message.tags %} {{ message.tags }} {% endif %} p-4 rounded-md mb-4 text-white">
  {{ message }}  
</div>

{% endfor %}

{% endif %}

<div class="bg-white rounded-4xl p-6 ">
    <div class="flex flex-col md:flex-row items-start md:items-center justify-between mb-6 gap-4">
        <form method="get" action="{% url 'main:products_view' %}" class="w-full md:w-auto mb-4 md:mb-0">
            <div class="relative w-full">
                <span class="absolute inset-y-0 left-0 flex items-center pl-3">
                    <span class="material-symbols-outlined text-gray-400">search</span>
                </span>
                <input 
                    type="search" 
                    value="{{request.GET.search}}" 
                    name="search" 
                    placeholder="Search for product..." 
                    class="w-full pl-10 pr-4 py-2 border border-gray-200 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
                >
            </div>
        </form>
        <div class="flex  flex-wrap gap-2 ">
      

        <a href="{% url 'main:export_products' %}" class="bg-purple-600 hover:bg-purple-700 text-white px-4 py-2 rounded-xl flex items-center transition-colors">
            Export to .CSV
        </a>
 
        {% if perms.main.add_product  %}

        <a href="{% url 'main:add_product' %}" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-xl flex items-center transition-colors">
            <span class="material-symbols-outlined mr-1">add</span>
            Add Product
        </a>
        
        {% endif %}
    </div>
</div>

    <div class="overflow-x-auto">
        <table class="w-full">
            <thead>
                <tr class="text-left text-sm text-gray-500 border-b">
                    <th class="pb-3 pl-4 font-medium">Image</th>
                    <th class="pb-3 pl-4 font-medium">Title</th>
                    <th class="pb-3 pl-4 font-medium">Description</th>
                    <th class="pb-3 pl-4 font-medium">Price</th>
                    {% if perms.main.update_stock or perms.main.view_stock  %}
                    <th class="pb-3 pl-4 font-medium">Stock</th>
                    {% endif %}
                    <th class="pb-3 pl-4 font-medium">status</th>
                    <th class="pb-3 pl-4 font-medium">Category</th>
                    <th class="pb-3 pl-4 font-medium">#Suppliers</th>
                    <th class="pb-3 pl-4 font-medium">expires</th>
                    {% if perms.main.change_product or perms.main.delete_product  %}

                    <th class="pb-3 pl-4 font-medium">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if products %}
                {% for product in products %}
                <tr class="border-b hover:bg-gray-50 transition-colors">
                    <td class="py-4 pl-4">
                        <div class="w-12 h-12 sm:w-16 sm:h-16 md:w-20 md:h-20 overflow-hidden rounded-xl">
                            <img src="{{product.image.url}}" alt="{{product.title}}" class="w-full h-full object-cover">
                        </div>
                    </td>
                    <td class="py-4 pl-4">
                        <div class="font-semibold text-gray-900">{{product.title}}</div>
                    </td>
    
                    <td class="py-4 pl-4">
                        <div class="font-medium text-sm text-gray-400 line-clamp-2 max-h-12 overflow-hidden">{{product.description}}</div>
                    </td>
                    
                    <td class="py-4 pl-4">
                        <div class="font-bold text-blue-600">${{product.price}}</div>
                    </td>
                    {% if perms.main.update_stock or perms.main.view_stock  %}

                    <td class="py-4 pl-4">

                        <div class="font-medium text-gray-900">
                            {% if perms.main.view_stock  %}

                            {{product.stock}}  
                            {% endif %}

                            {% if perms.main.update_stock  %}

                            <a href="{% url 'main:update_product_stock' product.id %}"><i class="fa fa-edit text-blue-400"></i></a>
                        {% endif %}
                        </div>
                       
                    </td>
                    {% endif %}
                    <td class="py-4 pl-4">
                        {% if perms.main.view_stock  %}
                        {% if product.stock >= 100 %}
                        <div class="bg-blue-200/50 text-blue-500 text-xs py-1 px-2 md:px-3 text-center rounded-full whitespace-nowrap">Available</div>
                        {% elif product.stock < 100 %}
                        <div class="bg-orange-200/50 text-orange-500 text-xs py-1 px-2 md:px-3 text-center rounded-full whitespace-nowrap">Low stock</div>
                        {% elif product.stock == 0 %}
                        <div class="bg-red-200/50 text-red-500 text-xs py-1 px-2 md:px-3 text-center rounded-full whitespace-nowrap">Out of stock</div>
                       {% endif  %}
                       {% endif %}

                 
                       {% if product.days_to_expire <= 10 %}
                       <div class="mt-1 bg-orange-200/50 text-orange-500 text-xs py-1 px-2 md:px-3 text-center rounded-full whitespace-nowrap">Expiring soon</div>

                       {% elif product.days_to_expire <= 0 %}
                       <div class="mt-1 bg-red-200/50 text-red-500 text-xs py-1 px-2 md:px-3 text-center rounded-full whitespace-nowrap">Expired</div>

                       {% endif %}
                    </td>
                    
                    <td class="py-4 pl-4">
                        <a href="#" class="bg-blue-100 text-blue-600 text-xs py-1 px-2 md:px-3 rounded-full whitespace-nowrap">{{product.Category.title}}</a>
                    </td>
                    <td class="py-4 pl-4">
                        <div class="font-medium text-gray-900"><a href="{% url 'main:product_suppliers_view' product.id %}" class="bg-blue-200/50 text-blue-400 px-3 py-2 rounded-full">{{ product.suppliers.count }}</a></div>
                    </td>
                    <td class="py-4 pl-4">

                        {{product.expire_date|date:'Y-m-d'}}
                        
                    </td>
       
              
                    {% if perms.main.change_product or perms.main.delete_product  %}

                
                    <td class="py-4 pl-4">
                        <div class="flex space-x-1">
                            {% if perms.main.change_product %}
                            <a  href="{% url 'main:edit_product' product.id %}" class="p-2 rounded-lg bg-emerald-100 text-emerald-600 hover:bg-emerald-200 transition-colors">
                                <span class="material-symbols-outlined text-sm">edit</span>
                            </a>
                            {% endif %}
                            {% if perms.main.delete_product %}
                            <a  href="#" onclick="confirmDelete(event, '{% url 'main:delete_product' product.id %}')" class="p-2 rounded-lg bg-red-100 text-red-600 hover:bg-red-200 transition-colors">
                                <span class="material-symbols-outlined text-sm">delete</span>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                    {% endif %}
                </tr>

                {% endfor %}
                {% else %}
                <tr class="border-b hover:bg-gray-50 transition-colors">
     
                    <td class="py-4 pl-4 text-center" colspan="10">
                        <div class="font-semibold text-gray-900">there is no products</div>
                    </td>
               
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <div class="flex items-center justify-between mt-6">
  
       
 
        <div class="flex space-x-1">
            {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}" class="px-3 py-1 rounded-lg border border-gray-200 text-gray-600 hover:bg-gray-50">Previous</a>
            {% else %}
            <span class="px-3 py-1 rounded-lg border border-gray-200 text-gray-400 cursor-not-allowed">Previous</span>
            {% endif %}

            {% for page_num in products.paginator.page_range %}
            {% if products.number == page_num %}
                <span class="px-3 py-1 rounded-lg bg-blue-600 text-white">{{ page_num }}</span>
            {% else %}
                <a href="?page={{ page_num }}" class="px-3 py-1 rounded-lg border border-gray-200 text-gray-600 hover:bg-gray-50">{{ page_num }}</a>
            {% endif %}
            {% endfor %}

            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="px-3 py-1 rounded-lg border border-gray-200 text-gray-600 hover:bg-gray-50">Next</a>
            {% else %}
            <span class="px-3 py-1 rounded-lg border border-gray-200 text-gray-400 cursor-not-allowed">Next</span>
            {% endif %}
        </div>
    </div>
</div>
  </main>

  <script>
    function confirmDelete(event, url) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "you cannot return this item.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'yes,delete',
            cancelButtonText: 'cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>

{% endblock %}
